useDynLib(stocks)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, "evalCpp")
importFrom("graphics", "abline", "grid", "legend", "lines", "points")
importFrom("stats", "sd", "anova", "complete.cases", "cov", "lm", "nlminb", 
           "pnorm", "predict", "var", "vcov")
import(rbenchmark)
import(quantmod)
import(lubridate)
import(RColorBrewer)