useDynLib(stocks)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, "evalCpp")
importFrom("graphics", "abline", "grid", "legend", "lines", "plot", "points",
           "text")
importFrom("stats", "sd", "anova", "complete.cases", "cov", "lm", "nlminb", 
           "pnorm", "predict", "var", "vcov", "cor")
importFrom("grDevices", "colorRampPalette")
import(rbenchmark)
import(quantmod)
import(lubridate)
import(RColorBrewer)